@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.referral {
  text-align: center;
  padding: 23vh;
}

.referral h1 {
  font-size: 44px;
}

.referral .main-container {
  padding: 0vh 15vw;
}

.text-shadow {
  color: #FFFFFF;
  text-shadow: 0 0 7px rgba(252, 61, 188, 0.95), 0 0 10px rgba(252, 61, 188, 0.95), 0 0 21px rgba(252, 61, 188, 0.95), 0 0 42px rgba(252, 61, 188, 0.95), 0 0 82px rgba(252, 61, 188, 0.95), 0 0 92px rgba(252, 61, 188, 0.95), 0 0 102px rgba(252, 61, 188, 0.95), 0 0 151px rgba(252, 61, 188, 0.95);
  transform: translateZ(0);
  will-change: transform;
}

.btn-blue {
  padding: 1em 1.75em 1.15em;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  color: white;
  background-color: #FC3DBC;
  border: 1px solid #FC3DBC;
  box-shadow: 0 0 1.5em rgba(252, 61, 188, 1);
}

.copySection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.copySection input {
  padding: 0.5rem 1rem;
  height: 43px;
  border-radius: 1em;
  color: white;
  background-color: transparent;
  border: 1px solid rgba(252, 61, 188, 0.75);
  box-shadow: 0 0 0.5em rgba(252, 61, 188, 0.45);
  width: 60%;
  min-width: 300px;
}

.copySection img {
  width: 43px;
  height: 43px;
}

.copySection .copied {
  color: #FC3DBC;
  font-weight: 600;
}

@media (max-width: 1100px) {
  .referral {
    padding: 15vh 0px;
  }
}

@media (max-width: 510px) {
  .btn-blue {
    padding: .8em 1em .8em !important;
  }
}

@media (max-width: 300px) {
  .referral {
    padding: 23vh 0px;
  }

  .referral h1 {
    font-size: 28px;
  }

  .copySection input {
    min-width: 208px;
  }

  .navbar .navbar-nav {
    padding: 0px;
  }

  nav>div.container {
    padding: 0px 10px !important;
  }
}